a:link{
    color:aquamarine;   
   }
   a:hover{
       color:red;    
   }
p::selection{
    color:seashell;
    background-color: rgb(114, 96, 231);
    }   
h1{ 
         border:20px  rgb(0, 253, 0);
         border-style: ridge dotted double dashed;
         border-radius:50px;
         text-decoration:underline;
         text-shadow:2px 4px rgb(0, 255, 0);
 } 
p{
   margin:50px;
} 
p{
         border:20px  rgb(97, 0, 253);
         border-style: ridge outset inset outset;
         border-radius:50px;
}
body{
     background-image: url('images.png'), url('istockphoto-887755698-612x612.png');
     background-repeat: no-repeat no-repeat;
     background-position:left top, right top;
     background-size:50% ;
    }
h3{
    text-align: justify;
}    
#first{
   height: 400px;
   width: 400px;
   text-align: justify;
   overflow: scroll;
} 
#second li {
  float:left;
  width:200px;
  background-color: rgb(255, 251, 0);
  text-align: center;
  line-height: 40px;
  font-size:25px;
  list-style: none;
  height: 40px;
  opacity: 0.9;
}
ul li a{
    text-decoration: none;
  }
*{
    margin: 0px;
    padding:0px;
}
ul li ul{
display:none;
}
ul li:hover > ul{
display: block;
}    
ul li:hover{
 background-color: rgb(0, 255, 0);
 color:white;
}  
#home{
    color:rgb(255, 166, 0); 
}
a:hover{
    color:red;    
}

 #ab{
    color:rgb(255, 166, 0);   
}
a:hover{
    color:red;    
}
 #cs{
    color:rgb(255, 166, 0);   
}
a:hover{
    color:red;
    float: none;   
}
#ram{

    border: 3px solid black;
}
#ram:hover{
    border-radius: 500px;
    border: 10px solid;
}
#learn{
    font-size: 25px;
}
#mom{
    font-size: 25px;
}
#headset{
       border: 20px;
       border-style: inset;
       background-color: chartreuse;
       overflow: hidden;
       text-align: middle;
}

h1 img{
    float:left;
    overflow: hidden;
    margin:0px;
    padding:0px;
}
#second li a:hover {
    background-color: rgb(128, 255, 0);
    color:white;
}
ul li ul a:active{
    background-color: chocolate;
    color: white;
}
#login{
    font-size: 2em;
    padding: 15px 19px 19px 15px;
    background-color: rgba(0, 0, 0, 0);
    color: rgb(255, 0, 0);
    text-decoration: none;
    font-size:50px;
    display: block;
}
#bl{
    text-decoration: none;
    color: blue;
    
}
#bll{
    text-decoration: none;
    color: blue;
}
#bll1{
    text-decoration: none;
    background-color: none;
    color: blue;
}
#bll2{
    text-decoration: none;
    background-color: none;
    color: blue;
}
#bll3{
    text-decoration: none;
    background-color: none;
    color: blue;
}
#bll3:hover{
     color: red;
}
#bll2:hover{
    color: red;
}
#bll1:hover{
    color: red;
}
#bll:hover{
    color: red;
}
#bl:hover{
    color: red;
}
.dd{
    display: inline-block;
    font-size: large;
}
.ddbtn{
    padding: 10px;
    min-width: 120px;
    float: left;
    border:none;
    background-color: rgb(83, 223, 202);
    font-size: 1em
}
.ddbtn:hover{
    background-color: rgb(66, 255, 208);
    cursor: pointer;
}
.ddlist{
    position:left;
    background: #f1f1f1;
    min-width: 106px;
    box-shadow: 0px 8px 8px 0px #bebebe;
}
.ddlist a{
    display: block;
}